<!DOCTYPE html>
<html lang="en">
<head>
<%= yield(:meta_tags) %>
<!-- Favicon/touch icons -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="metsson">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<!-- Apple -->
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-touch-startup-image" href="/apple-startup.png">
<!-- Touch icons -->
<link rel="apple-touch-icon" href="/touch-icon-iphone.png">
<link rel="apple-touch-icon" sizes="76x76" href="/touch-icon-ipad.png">
<link rel="apple-touch-icon" sizes="120x120" href="/touch-icon-iphone-retina.png">
<link rel="apple-touch-icon" sizes="152x152" href="/touch-icon-ipad-retina.png">
<!-- CDNs -->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<%= stylesheet_link_tag    'application', media: 'all' %>
<%= csrf_meta_tags %>
</head>
<body>
<div class="container">
    <nav>  
        <h1>Fun Things to Ask Siri <small>When You're Bored as Hell!</small></h1>    
    </nav>    
    <%= yield %>
    <div class="btn-group">
    <a class="btn btn-primary btn-sm" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>"><i class="fa fa-facebook"></i>
    Share on Facebook</a>
    </div>
    <footer>
        An original idea by <a href="https://www.facebook.com/andreas.ekstrom.395">Andreas Ekström</a>. Developed by <a href="http://metsson.se" class="metsson-logo-font">metsson</a> on a boring Sunday in Sweden.<br>
        <small>funthingstoasksiri.com is not affiliated with nor owned by Apple Inc. Siri® is a voice recognition software and registered trademark of Apple Inc. The icons on this website are copyrighted by <a href="http://www.pelfusion.com/" target="_blank">PelFusion</a>.</small>        
    </footer>
</div>
<%= javascript_include_tag 'application' %>
</body>
</html>
